modules = ["nodejs-20", "python-3.12", "web"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 3000
externalPort = 80
